{% extends 'admin/base.html' %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{% block page_body %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        {% block brand %}
                        <a class="navbar-brand" href="{{ url_for('main.index') }}">Boilerplate</a>
                        {% endblock %}
                    </li>

                    {% block main_menu %}
                    <li class="nav-item">
                    {{ layout.menu() }}
                    </li>
                    {% endblock %}

                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    </li>
                </ul>

                {% block menu_links %}
                <ul class="nav navbar-right">
                    {{ layout.menu_links() }}
                </ul>
                {% endblock %}
                {% block access_control %}
                {% endblock %}

                </ul>
            </div>
        </div>

        <!-- navbar content -->
    </nav>
    <div class="container-fluid page-header">
          {% block messages %}
          {{ layout.messages() }}
          {% endblock %}

          {# store the jinja2 context for form_rules rendering logic #}
          {% set render_ctx = h.resolve_ctx() %}
          {% block body %}{% endblock %}
        </div>
      </div>
</div>
{% endblock %}
